/* ==========================================
   1. REINICIO GENERAL
========================================== */
body {
    display: block !important;
    background: -webkit-linear-gradient(180deg,  #1d243a, #198754);
    background: linear-gradient(180deg, #141722 , #198754);
}

/* ==========================================
   2. PANTALLA DE LOGIN
========================================== */


/* ==========================================
   3. ELEMENTOS GLOBALES
========================================== */
.chart-container {
    height: 280px;
    position: relative;
}

.sortable {
    cursor: pointer;
}

/* ==========================================
   4. LAYOUT DEL DASHBOARD (CONTENIDO)
========================================== */
.main-content {
    background-color: var(--bs-body-bg);
    min-height: 100vh;
    /* Permite que el contenido fluya hacia abajo naturalmente */
}

/* ==========================================
   5. BARRA LATERAL (SOLO PC / ESCRITORIO)
========================================== */
/* En celulares, Bootstrap ya maneja el menú con la clase "offcanvas", 
   así que solo aplicamos esto para pantallas grandes */
@media (min-width: 992px) {
    .sidebar {
        width: 300px !important;
        min-height: 100vh;
        position: sticky;
        top: 0;
    }
}

/* ==========================================
   6. ANIMACIONES DE VISTAS (PESTAÑAS)
========================================== */
.app-view {
    display: none;
}

.app-view.active {
    display: block;
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo para los inputs en modo oscuro */
.form-control {
    background-color: rgb(212, 212, 212) !important;
    color: #000000 !important;
}

.form-control:focus {
    background-color: #a8a8a8 !important;
    color: rgb(88, 88, 88)!important;
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25) !important;
    /* Glow verde éxito */
    border: 1px solid #198754 !important;
}

/* Ajuste para el label de los floating inputs */
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label {
    color: #198754 !important;
}